<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="bienvenida">
        <h1>¡BIENVENIDO A BLACK POLI!</h1>
    </div>

    <div class="registro">

        <h2>Regístrate aquí</h2>

        <mat-form-field class="example-full-width">
            <mat-label>Ingresa tu nombre de usuario</mat-label>
            <input matInput placeholder="Ej. Bhelerfor">
        </mat-form-field>
        <br>

        <div class="botones">
        <button style="margin: 1%;" mat-raised-button color="primary">Registrar</button>
        <button style="margin: 1%;" [routerLink]="['/crearTweet']" mat-raised-button color="primary">Crear Tweet</button>
        </div>
    </div>
</div>
