<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="diseñoTweet">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Tweet:</mat-card-title>
              <mat-card-subtitle>{{tweet.published_date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [innerHtml]="tweet.message"></div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
